--
-- PostgreSQL database dump
--

\restrict g8vrStWU6ysebhPAMC8ysHqaOfiNKOUf3TulxM3KlpJQWu0Nb8jH28rCSYRPd7Z

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: user_test
--

CREATE TABLE public.accounts (
    id bigint NOT NULL,
    iban character varying(255) NOT NULL,
    balance double precision DEFAULT 0.0 NOT NULL,
    currency character varying(255),
    active boolean DEFAULT true NOT NULL,
    owner_id bigint
);


ALTER TABLE public.accounts OWNER TO user_test;

--
-- Name: accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: user_test
--

ALTER TABLE public.accounts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: user_test
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    action character varying(50) NOT NULL,
    details text NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO user_test;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: user_test
--

CREATE SEQUENCE public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO user_test;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_test
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: exchange_rates; Type: TABLE; Schema: public; Owner: user_test
--

CREATE TABLE public.exchange_rates (
    id bigint NOT NULL,
    from_currency character varying(3) NOT NULL,
    to_currency character varying(3) NOT NULL,
    rate double precision NOT NULL,
    last_updated timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.exchange_rates OWNER TO user_test;

--
-- Name: exchange_rates_id_seq; Type: SEQUENCE; Schema: public; Owner: user_test
--

CREATE SEQUENCE public.exchange_rates_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exchange_rates_id_seq OWNER TO user_test;

--
-- Name: exchange_rates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_test
--

ALTER SEQUENCE public.exchange_rates_id_seq OWNED BY public.exchange_rates.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: user_test
--

CREATE TABLE public.transactions (
    id bigint NOT NULL,
    source_iban character varying(34),
    target_iban character varying(34),
    amount numeric(15,2) NOT NULL,
    currency character varying(3) NOT NULL,
    description text,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    account_id bigint
);


ALTER TABLE public.transactions OWNER TO user_test;

--
-- Name: transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: user_test
--

CREATE SEQUENCE public.transactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transactions_id_seq OWNER TO user_test;

--
-- Name: transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_test
--

ALTER SEQUENCE public.transactions_id_seq OWNED BY public.transactions.id;


--
-- Name: user_settings; Type: TABLE; Schema: public; Owner: user_test
--

CREATE TABLE public.user_settings (
    id bigint NOT NULL,
    user_id bigint,
    preferred_currency character varying(3) DEFAULT 'EUR'::character varying,
    primary_account_iban character varying(34),
    dark_mode boolean DEFAULT false,
    notifications_enabled boolean DEFAULT true
);


ALTER TABLE public.user_settings OWNER TO user_test;

--
-- Name: user_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: user_test
--

CREATE SEQUENCE public.user_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_settings_id_seq OWNER TO user_test;

--
-- Name: user_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_test
--

ALTER SEQUENCE public.user_settings_id_seq OWNED BY public.user_settings.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: user_test
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    country_code character varying(2),
    email character varying(255) NOT NULL,
    first_name character varying(255),
    last_name character varying(255),
    password character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO user_test;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: user_test
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: exchange_rates id; Type: DEFAULT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.exchange_rates ALTER COLUMN id SET DEFAULT nextval('public.exchange_rates_id_seq'::regclass);


--
-- Name: transactions id; Type: DEFAULT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.transactions ALTER COLUMN id SET DEFAULT nextval('public.transactions_id_seq'::regclass);


--
-- Name: user_settings id; Type: DEFAULT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.user_settings ALTER COLUMN id SET DEFAULT nextval('public.user_settings_id_seq'::regclass);


--
-- Name: accounts accounts_iban_key; Type: CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_iban_key UNIQUE (iban);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: exchange_rates exchange_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.exchange_rates
    ADD CONSTRAINT exchange_rates_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: exchange_rates unique_to_currency; Type: CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.exchange_rates
    ADD CONSTRAINT unique_to_currency UNIQUE (to_currency);


--
-- Name: user_settings user_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_pkey PRIMARY KEY (id);


--
-- Name: user_settings user_settings_user_id_key; Type: CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_user_id_key UNIQUE (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_exchange_rates_to_curr; Type: INDEX; Schema: public; Owner: user_test
--

CREATE INDEX idx_exchange_rates_to_curr ON public.exchange_rates USING btree (to_currency);


--
-- Name: idx_transaction_account_id; Type: INDEX; Schema: public; Owner: user_test
--

CREATE INDEX idx_transaction_account_id ON public.transactions USING btree (account_id);


--
-- Name: idx_transaction_timestamp; Type: INDEX; Schema: public; Owner: user_test
--

CREATE INDEX idx_transaction_timestamp ON public.transactions USING btree ("timestamp" DESC);


--
-- Name: accounts fk_account_owner; Type: FK CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT fk_account_owner FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: transactions transactions_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.accounts(id) ON DELETE CASCADE;


--
-- Name: user_settings user_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_test
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO user_test;


--
-- PostgreSQL database dump complete
--

\unrestrict g8vrStWU6ysebhPAMC8ysHqaOfiNKOUf3TulxM3KlpJQWu0Nb8jH28rCSYRPd7Z

